# Do not disable package-lock. Disabling package-lock also disables npm-shrinkwrap
package-lock=true
save-exact=true
foreground-scripts=true
//npm.pkg.github.com/:_authToken=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
@shravan-lambdatest:registry=https://npm.pkg.github.com/