# Do not disable package-lock. Disabling package-lock also disables npm-shrinkwrap
package-lock=true
save-exact=true
foreground-scripts=true
@shravan-lambdatest:registry=https://npm.pkg.github.com/shravan-lambdatest
//npm.pkg.github.com/:_authToken=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